<h3>Post a Comment</h3>
<%= form_for [ @post, @comment ] do |f| %>
  <p>
    <%= f.label :author_name, "Your Name:" %><br/>
    <textarea rows="2" cols="40"><%= f.text_field :author_name %></textarea>
  </p>
  <p>
    <%= f.label :body, "What's on your mind?" %><br/>
    <textarea rows="20" cols="90"><%= f.text_area :body %></textarea>
  </p>
  <p>
    <%= f.submit 'Submit' %>
  </p>
<% end %>