<!DOCTYPE html>
<html>
<head>
  <title>Goblog</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>GRIMM OUTLOOK</h1>

<div style="margin: 0 auto; text-align: center">
    <%= image_tag "Dave2.jpg", width: 450, height: 300 %>
</div>

<% flash.each do |k, v| %>
  <p><%= v %></p>
<% end %>

<%= yield %>

</body>
</html>
